{% extends 'base.html.twig' %}

{% block title "Ebooks en promo" %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ include('home/_menu.html.twig') }}
            {{ include('home/_listbooks.html.twig') }}
        </div>
    </div>
    
{% endblock %}