{% extends 'base.html.twig' %}

{% block title "Tous les genres d'ebooks" %}

{% block body %}

    <div class="container">

        <div class="row">
            <h1>Toutes les genres de livres</h1>
            {{ include('partials/_menu.html.twig') }}
            <div class="col-md-9">
                {% for type in types %}
                <h3>{{ type.name }}</h3>
                <a id="listlink" href="{{ path('type_show', {id: type.id, slug: type.slug}) }}">{{type.books | length }} Voir tous les ebooks référencés dans cette catégorie</a>
                {% endfor %}
            </div>
        </div>

{% endblock %}
