<div class="container">

    <div class="row">
        
        <div id='menu' class="col-md-3">
            Mentions légales
        </div>

        <div id='menu' class="col-md-3">
            Plan du site
        </div>

        <div id='menu' class="col-md-3">
            Contact
        </div>

        <div id='menu' class="col-md-3">
            Cookies
        </div>
    </div>

</div>