<div id="center" class="row mt-9">
    <div class="col-6">
        <img src="/images/facebook.png" alt="facebook">
        <img src="/images/twitter.png" alt="twitter">
        <img src="/images/linkedin.png" alt="linkedin">
        <img src="/images/pinterest.png" alt="logo">
    </div>
    <div class="col-6">
        <a id="link" href="{{ path('book_like', {id: book.id, slug: book.slug}) }}" class="btn btn-link js-like">
            <span id="fontlike" class="js-likes">{{ book.booklikes | length }} </span>  
            {% if app.user and book.isLikedByUser(app.user) %}
                <i id="fontlike" class="fas fa-thumbs-up"></i>
            {% else %}
                <i id="fontlike" class="far fa-thumbs-up"></i>
            {% endif %}
            
        </a>
    </div>
</div>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i');

            axios.get(url).then(function(response){
                spanCount.textContent = response.data.likes;

                if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far');
                } else {
                        icone.classList.replace('far', 'fas');
                }
            }).catch(function(error){
                if(error.response.status === 403) {
                    window.alert("Vous ne pouvez pas liker un livre sans être connecté !");
                } else {
                    window.alert("Une erreur s'est produite, réessayez plus tard")
                }
            })
        }

        document.querySelectorAll('a.js-like').forEach(function(link){
            link.addEventListener('click', onClickBtnLike);
        })
    </script>
{% endblock %}