body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(17, 16, 16);
    color:whitesmoke;
}

h1{
    text-align: center;
    font-variant-caps: small-caps;
}

h2{
    text-align: center;
}

a{
    font-size: larger;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    color: black;
}

#listlink{
    font-size: larger;
    color: rgb(184, 153, 153);
    text-decoration: none;
    /* padding: 15px; */
}

#listlink:hover{
    color: whitesmoke;
}

.reduceprice{
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.normalprice{
    font-size: 30px;
    font-weight: bold;
    text-decoration:line-through;
}

.card{
    margin-bottom: 15px;
}

.card-body{
    text-align: center;
    background-color: rgb(34, 32, 32);
}

.card-text{
    font-variant-caps: small-caps;
    font-size: 20px;
    font-weight: bold;
}

#linkcard{
    color: rgb(161, 152, 152);
    font-size: large;
}

.booklink{
    background-color: rgb(168, 13, 13);
    color: whitesmoke;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#link{
    color:whitesmoke;
    font-weight: bold;
    padding: 30px;
}

.booklink:hover{
    background-color: rgb(151, 87, 87);
}

.menu{
    color: rgb(8, 1, 1);
    font-size: larger;
    text-align: center;
    background-color: rgb(199, 188, 188);
    border-radius: 25px;
    font-variant-caps: small-caps;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu:hover{
    background-color: rgb(243, 239, 239);
}

#menu{
    color: rgb(8, 1, 1);
    font-size: larger;
    text-align: center;
    background-color: rgb(199, 188, 188);
    border-radius: 15px;
    font-variant-caps: small-caps;
    margin-top: 15px;
    margin-bottom: 15px;
}

#menu:hover{
    background-color: rgb(243, 239, 239);
}

.menuheader{
    color: rgb(8, 1, 1);
    font-size: normal;
    text-align: center;
    background-color: rgb(199, 188, 188);
    border-radius: 10px;
    font-variant-caps: small-caps;
    margin-top: 5px;
}

.menuheader:hover{
    background-color: rgb(243, 239, 239);
}

#listType{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}


#listLinkType{
    color: rgb(8, 1, 1);
    font-size: 1em;
    text-align: center;
    background-color: rgb(199, 188, 188);
    border-radius: 15px;
    font-variant-caps: small-caps;
    padding: 15px;
}

#listLinkType:hover{
    background-color: rgb(243, 239, 239);
}

.linkseller{
    color: rgb(8, 1, 1);
    font-size: normal;
    text-align: center;
    background-color: rgb(168, 13, 13);
    border-radius: 10px;
    font-variant-caps: small-caps;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.linkseller:hover{
    background-color: rgb(151, 87, 87);
}

#info{
    text-align: center;
    margin:auto;
}

#username{
    font-weight: bold;
}

#center{
    text-align: center;
    font-weight: bold;
}

#button{
    text-align: end;
}

#commenttext{
    text-align: justify;
}

#description{
    text-align: justify;
}

#bookcontributor{
    font-weight: bold;
    text-align: center;
}

#avatar{
    max-width: 50%;
	height: auto;
}

#commentform{
    margin-top: 20px;
}

#border{
    border: solid 1px;
}

#margin{
    margin:auto;
}

.page-link{
    background-color: rgb(147, 212, 17);
}