{% extends 'base_admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div id='admin' class="container admin">
        <div class="row">
            <div class="col-md-3">
                {{ include('partials/_adminmenu.html.twig') }}
            </div>
            <div class="col-md-9">
                
            </div>
        </div>
        
    </div>


{% endblock %}
