{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('admin_index') }}">back to list</a>
{% endblock %}
