{% extends 'base.html.twig' %}

{% block title "Toutes les catégories des livres numériques" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-3">
                {{ include('partials/_menu.html.twig') }}
            </div>
            <div class="col">
                <div class="row">
                    <h1>Toutes les catégories de livres</h1>
                    {% for subcategory in subcategories %}
                        <h3>{{ subcategory.name }}</h3>
                        <a id='listlink' href="{{ path('subcategory_show',{id: subcategory.id, slug: subcategory.slug}) }}">
                        {{ subcategory.subcategorybook | length }} Livres référencés dans cette sous-catégorie</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}