{% extends 'base.html.twig' %}

{% block title "Les meilleures promotions" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-3">
            {{ include('partials/_menu.html.twig') }}
        </div>
        <div class="col">
            <div class="row">
                {{ include('partials/_listbooks.html.twig') }}
            </div>
        </div>
    </div>
</div>  
{% endblock %}