{% extends 'base.html.twig' %}

{% block title "Les ebooks les plus populaires" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Les livres les plus populaires</h1>
            {{ include('partials/_menu.html.twig') }}
            {{ include('partials/_listbooks.html.twig') }}
        </div>
    </div>
    
{% endblock %}